body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1b2735, #090a0f);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

button {
  background: #ff4444;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ff6666;
  transform: scale(1.05);
}

#resultado {
  margin-top: 30px;
  text-align: left;
  display: inline-block;
}

.reveal-body {
  background: black;
  overflow: hidden;
}

video#intro {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 0;
  text-align: center;
}

#video { 
  width: 100%;
  margin-top: 40%;
}

.overlay {
  position: relative;
  z-index: 10;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countdown {
  font-size: 80px;
  animation: pop 1s infinite;
}

#reveal {
  animation: fadeIn 2s ease forwards;
}

.hidden {
  display: none;
}

#imagen{
  width: 25%;
}

@media (max-width: 600px) {
  #imagen {
    width: 60%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes pop {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}
